body {
  background-color: #aaf0d1;
}

#title {
  font-family: 'Ubuntu';
  color: #007077;
  font-size: 3rem;
}

.faq {
  font-family: 'Ubuntu';
  color: #007077;
}

/* HEADER BOX STYLING */
.headerBox {
  display: flex;
  background-color: #addfad;
  padding: 10px;
  border: 5px solid #50c878;
  justify-content: space-between;
}

#logo {
  height: 120px;
  width: 171px;
}

#profileIcon {
  display: inline-block;
  height: 35px;
  width: 35px;
  color: #50c878;
  margin-left: 100px;
}

/* BUTTON STYLING */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#buttonLogin {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 18px;
}

#buttonRegister {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 18px;
}

#buttonKalender {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 50px;
}

#buttonSocials {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 50px;
}

#buttonHelp {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 50px;
}

#buttonWheel {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 50px;
}

/* HOVER FUNCTIONS ON HEADER BUTTONS */
#buttonKalender:hover {
  background-color: #50c878;
}

#buttonSocials:hover {
  background-color: #50c878;
}

#buttonHelp:hover {
  background-color: #50c878;
}

#buttonWheel:hover {
  background-color: #50c878;
}

#buttonLogin:hover {
  background-color: #50c878;
}

#buttonRegister:hover {
  background-color: #50c878;
}