body {
  background-color: #aaf0d1;
}

#title {
  font-family: 'Ubuntu';
  color: #007077;
  font-size: 50px;
  display: flex;
  justify-content: center;
  top: 200px;
}

/* HEADER BOX STYLING */
.headerBox {
  display: flex;
  background-color: #addfad;
  padding: 10px;
  border: 5px solid #50c878;
  justify-content: space-between;
}

#logo {
  height: 120px;
  width: 171px;
}

.logged_in_as_area {
  position: absolute;
  font-family: 'Ubuntu';
  margin-left: 1325px;
  margin-top: 5px;
}

#dropdown {
  width: 20px;
  height: auto;
  margin-left: 50px;
}

#profileIcon {
  display: inline-block;
  height: 35px;
  width: 35px;
  color: #50c878;
  margin-left: 10px;
  margin-right: 55px;
}

/* BUTTON STYLING */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#buttonKalender {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 65px;
}

#buttonSocials {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 65px;
}

#buttonHelp {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 65px;
}

#buttonWheel {
  border: 4px solid #50c878;
  padding: 15px 27px;
  background-color:  #aaf0d1;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #007077;
  text-decoration: none;
  margin-left: 65px;
  margin-right: 65px;
}

#dropdown {
  width: 20px;
  height: auto;
  margin-left: 50px;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Ubuntu';
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-menu:hover .dropdown-content {display: block;}

.dropdown-menu:hover .dropdown {background-color: #3e8e41;}

/* HOVER FUNCTIONS ON HEADER BUTTONS */
#buttonKalender:hover {
  background-color: #50c878;
}

#buttonSocials:hover {
  background-color: #50c878;
}

#buttonHelp:hover {
  background-color: #50c878;
}

#buttonWheel:hover {
  background-color: #50c878;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-family: 'Ubuntu';
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: 'Ubuntu';
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#92a1d1;
}
#container {
  width: 770px;
  font-family: 'Ubuntu';
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
  
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#50c878;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #addfad;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: 'Ubuntu';
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

#deletebutton{
  background-color:#92a1d1;
}